.env
/.vscode

/__temp-php-wapi/
/__temp-php-wapi.zip

/app/*
!/app/controllers/
/app/controllers/*

!/app/models/
/app/models/*

!/app/views/
/app/views/*

!/app/mailers/
/app/mailers/*

!/app/views/layouts/
/app/views/layouts/*

!/app/views/partials/
/app/views/partials/*

!/app/views/mailers/
/app/views/mailers/*

!/app/views/mailers/partials/
/app/views/mailers/partials/*

/config/*

/database/migrations/*

/public/*
!/public/index.php
!/public/VERSION

!/public/assets/
/public/assets/*

!/public/assets/css/
/public/assets/css/*

!/public/assets/js/
/public/assets/js/*

!/storage/
/storage/*

/vendors/*
!vendors/autoloader/
!vendors/phpmailer/

!*.gitkeep